Business Whatsapp Agent.json
{
  "name": "Business Whatsapp Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -96
      ],
      "id": "89e4c16a-da10-406c-9eb5-7e0038fc874b",
      "name": "WhatsApp Trigger",
      "webhookId": "2f1b4f08-8a15-4a56-a9df-483e38ef6a4c",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "CSdRxaJbChiKa8rk",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "771722606031782",
        "recipientPhoneNumber": "+923136928904",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        -96
      ],
      "id": "c25f6c7c-49e7-428e-b185-d64c17ddc6f2",
      "name": "Send message",
      "webhookId": "96d13d72-5c93-4e9e-bbd2-d3264fc02168",
      "credentials": {
        "whatsAppApi": {
          "id": "CdCXUHtycXngKOWl",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        128
      ],
      "id": "5212ea8c-f569-492d-ae11-dd2d66edd571",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1unxrQdPEv5sOUYX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are Nomnosh Restaurant’s smart assistant.\nYour only knowledge comes from the connected Google Sheet (Nomnosh menu, prices, and FAQs).\n\nIf the user asks something unrelated to food, Nomnosh menu, delivery, location, or restaurant info — reply only:\n\"Sorry, I can only answer questions related to Nomnosh restaurant and its menu.\"\n\nAlways keep your answers short, friendly, and accurate based on the sheet data.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -496,
        -96
      ],
      "id": "3e06e506-f89c-48a4-a062-f68b387b57b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        96
      ],
      "id": "19770045-2a2f-4ede-be2a-aa1c00568baa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Af9IpGr5ioUrvcIItqRe8Lyw4h-oOl5XTB5JDJr9YCU",
          "mode": "list",
          "cachedResultName": "nomnosh_menu_qa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Af9IpGr5ioUrvcIItqRe8Lyw4h-oOl5XTB5JDJr9YCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 94813977,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Af9IpGr5ioUrvcIItqRe8Lyw4h-oOl5XTB5JDJr9YCU/edit#gid=94813977"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -272,
        112
      ],
      "id": "4631f857-b07a-4f09-a51c-5f85754c6f1e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zL7ag1BjwPVF3NrH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "129e6e24-7fae-4266-9514-70c8858e4afd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "643e2978d912324d9b6bf38332ad491b7b3e3810ef839a11a245b00fb16b4b0d"
  },
  "id": "tBJAA1QyjnKXYPSp",
  "tags": []
}